<%= form_with(model: comment) do |form| %>
  <h3>Add new comment</h3>
  <% if local_assigns[:user_id] %>
    <%= form.hidden_field :user_id, value: user_id %>
    <%= form.hidden_field :article_id, value: article_id %>
  <% end %>

  <div class="mb-3">
    <%= form.label :comment, class: 'form-label' %>
    <%= form.text_area :comment, class: 'form-control', rows: '5' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Add comment', class: 'btn btn-primary' %>
  </div>
<% end %>
