<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if local_assigns[:user_id] %>
    <%= form.hidden_field :user_id, value: user_id %>
  <% end %>

  <div class="mb-3">
    <%= form.label :category_id, class: 'form-label' %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, {}, {:class=>'form-select'} %>
  </div>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.rich_text_area :content, class: 'form-control' %>
  </div>

  <% if current_user.admin? %>
    <div class="mb-3 form-check form-switch">
      <%= form.label :active, class: 'form-check-label' %>
      <%= form.check_box :active, class: 'form-check-input' %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= form.submit 'Save Article', class: 'btn btn-primary mb-3' %>
  </div>
<% end %>
