<div class="row">
  <div class="col-lg-4 mb-3">
    <%= image_tag 'https://via.placeholder.com/800x600',
                  class: 'card-img-top',
                  alt: ''%>
  </div>
  <div class="col-lg-6 mb-3">
    <h1><%= @article.title %></h1>
    <p>Category: <%= @article.category.name %></p>
    <p>Published: <%= @article.created_at.strftime('%d/%m/%Y') %></p>
    <p>Author: <%= @article.user.full_name %></p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= raw @article.content %>
  </div>
</div>

<div class="pt-3 mb-3">
  <% if current_user.admin? || current_user == @article.user%>
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
  <% end %>
  <%= link_to 'List', articles_path, class: 'btn btn-secondary' %>
</div>

<% if @comments.any? %>
  <hr>

  <div class="row">
    <div class="col-12">
      <h2>Comments</h2>
    </div>
    <% @comments.each do | comment | %>
      <div class="col-12">
        <div class="card border-light mb-3 comment__card">
          <div class="card-header d-flex">
            <div class ="user__comment-image me-2">
              <%= image_tag 'https://via.placeholder.com/50',
                            class: 'card-img-top rounded-circle',
                            alt: ''%>
            </div>
            <div class="user__comment-info">
              <h5 class="card-title mb-0"><%= comment.user.full_name %></h5>
              <p class="card-text">
                <small class="text-muted"><%= comment.created_at.strftime('%B %e, %Y @ %H:%M') %></small>
              </p>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= comment.comment %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<hr>

<% if current_user.present? %>
  <div class="row">
    <div class="col-12">
      <%= render 'comment', comment: @comment,
                            user_id: current_user.id,
                            article_id: @article.id %>
    </div>
  </div>
<% end %>
