<p id="notice"><%= notice %></p>

<div class="position-relative">
  <h1>Categories</h1>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary position-absolute bottom-0 end-0' %>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= category.name %></h5>
          <h6 class="card-text"><%= category.description %></h6>
        </div>
        <div class="card-footer">
          <%= link_to 'Edit', edit_category_path(category),
                              class: 'btn btn-warning' %>
          <%= link_to 'Delete', category,
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
